/* Global Styling Start */
:root {
    --dark: #212121;
    --dark-black: #181818;
    --gray: #7c7676;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: var(--dark);
    color: white;
}

i{
    width: 5px; 
}
/* Global Styling End */


/* Header Styling Start */
header{
    width: 100%;
    display: grid;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 1rem;
    width: 100vw;
    position: fixed;
    top: 0;
}

.search-bar-div{
    display: grid;
    grid-template-columns: 10rem 1fr 20rem;
    gap: 2rem;
    padding: 1rem;
    position: relative;
    align-items: center;
}

.search-bar-div ul li{
    display: inline;
}

#googleimg{
    width: 7.5rem;
    position: relative;
    bottom: 1.45em;
}

input{
    width: 48rem;
    height: 2.5rem;
    background-color: #252526;
    border: 1px solid #afafb6;
    border-radius: 20px;
    color: white;
    padding-left: 2rem;
    padding-right: 6rem;
    font-size: 1.5rem;
}

form{
    display: grid;
    position: relative;
    bottom: 1.7em;
}

#search{
    position: absolute;
    left: 46em;
    top: 0.8em
}

#cam{
    position: absolute;
    left: 44em;
    top: 0.8em
}

#mic{
    position: absolute;
    left: 42em;
    top: 0.8em
}

.search-bar-div ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    position: absolute;
    right: 1em;
    top: 1.8em;    
}

#shoman{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

nav ul{
    list-style: none;
    margin-left: 12rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6, 6%) 1fr;
}

#all-li{
    padding-left: 2rem;
}

#last-li{
    padding-left: 6rem;
}

nav i{
    margin-right: 20px;
}
/* Header Styling End */